/* Universal Styles */
html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #050c26;
}

/* Formatting: Header */
header {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: auto;
  z-index: 100;
  height: 6rem;
  display: flex;
  background-color: #fff;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0rem 0.25rem 0.25rem rgb(0 0 0 / 5%);
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

header .logo{
  flex: 1;
  font-size: 2rem;
}

header ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-left: 1.5rem;
  font-size: 1.25rem;
}

header nav .icons {
  justify-content: flex-end;
  padding-left: auto;
}

/* Formatting: Anchor Tags */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  border-bottom: 0.125rem solid;
  transition: 0.05s;
  color: #4039a8;
}

/* Formatting: Buttons */
button {
  padding: 1rem;
  width: 40%;
  background-color: white;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #050c26;
}

button[class^="media"]:hover {
  padding: 1rem;
  width: 40%;
  background-color: #4039a8 !important;
  color: white !important;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #4039a8;
  transition: 0.2s;
}

.buttons {
  text-align: center;
}

/* Formatting: Icons */
.icon {
  justify-content: flex-end;
}

.iconified {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* Formatting: Body */
.body {
  color: #e4e7fd;
  border-bottom: 0.125rem solid;
}

/* Formatting: Images */
.photo {
  border-radius: 1rem;
  height: auto;
  width: 20rem;
  align-items: center;
}

/* Hero: Intro */
.hero-main {
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: auto;
  min-height: 20rem;
  background-color: #e4e7fd;
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid #050c26;
}

.hero-left  {
  position: relative;
  z-index: 2;
  float: left;
  flex: 0 auto;
  border-radius: 16rem;
  padding-right: 2rem;
}

.hero-right {
  position: relative;
  z-index: 2;
  width: auto;
  flex: 0 auto;
}

.hero-right-title {
  font-size: 1.75rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.hero-right-content {
  font-size: 1.25rem;
  margin-block-start: 1rem;
  margin-block-end: 0rem;
}

/* Section Header */
.section-header {
  margin: 2rem;
  font-size: 2rem;
  scroll-margin-top: 8rem;
}

/* Hero: Projects */
.hero-projects {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 33.5rem;
  background-color: #050c26;
  border-radius: 1rem;
  padding: 4rem;
}

.slide-content  {
  position: relative;
  z-index: 2;
  float: left;
  flex: 0 auto;
  padding: 1rem;
  height: 24rem;
}

.slidey {
  background-color: white;
  width: 32rem !important;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  height: 32rem;
}

.slick-prev {
  left: -3.125rem !important; 
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.slick-next {
  right: -3.125rem !important; 
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.slick-arrow {
  font-size: 2.5rem !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 2.5rem !important;
}

.mobile {
  display:none;
}

.hero-photo {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.photo-frame {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.125rem solid #050c26;
  background-color: #050c26;
}

/* Hero: Contact */
.hero-contact {
  margin: 2rem;
  height: auto;
  background-color: #e4e7fd;
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid #050c26;
}

/* Device Sizing Changes */
@media(max-width:1460px){
  .hero-about-right {
    margin-left: 0rem;
  }
}

@media(max-width:1073px){
  .projects-right {
    display: none;
  }
  .slider {
    width: 100%;
  }
}

/* Large Tablet Styles */
@media(max-width:991px){
  .hero-about-right {
    margin-left: 0rem;
  }
	.priorities {
    display: none;
	}
}

/* Medium Tablet Styles */
@media(max-device-width:787px){
  .main {
    display: none;
	}
  .hero-right {
    margin-left: 0rem;
  }
  .hero-about-right {
    margin-left: 0rem;
  }
  header nav ul {
    display: none;
  }
    .mbutton {
    padding: 1rem;
    width: 40%;
    background-color: #4039a8 !important;
    color: white !important;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #4039a8;
  }
}

@media(max-width:787px){
  .main {
    display: none;
	}
  .hero-right {
    margin-left: 0rem;
  }
  .hero-about-right {
    margin-left: 0rem;
  }
  header nav ul {
    display: none;
  }
}


/* Phone Styles */
@media(max-device-width:479px){
  .photo {
    display: none;
  }
  .hero-right {
    margin-left: 0rem;
  }
  .hero-about-right {
    margin-left: 0rem;
  }
  header nav ul {
    display: none;
  }
  .hero-main {
    margin-top: 12rem;
  }
  header {
    height: 10rem;
  }
  header .logo {
    font-size: 3rem;
  }
  .content-two {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
